{%extends "GCDBundle::layout.html.twig"%}

{% trans_default_domain 'FOSUserBundle' %}

{%block container %}
    <h2>Vous devez connecter!</h2>
    <a href="{{ path('gcd_connexion') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>
{% endblock %}